h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Interpretar los principios y conceptos generales de la contabilidad según las normas de información financiera.




