h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 210303002-03
        p.mb-0 Interpretar los principios y conceptos generales de la contabilidad según las normas de información financiera.