h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#pages/intro.html/')
                    +navTemaItem('1', 'Reconocimiento de activos, pasivos, ingresos y gastos', 'main.html#page/reconocimiento-activos/')
                    +navTemaItem('2', 'La probabilidad de obtener beneficios económicos futuros', 'main.html#page/probabilidad/')
                    +navTemaItem('3', 'Fiabilidad de la medición', 'main.html#page/fiabilidad/')
                    +navTemaItem('4', 'Definición entre partidas corrientes y no corrientes', 'main.html#page/definicion/')
                    +navTemaItem('5', 'Ordenación y formato de las partidas del estado de información financiera', 'main.html#page/ordenacion-formatos/')
                    +navTemaItem('6', 'Información a revelar en el estado de situación financiera y notas', 'main.html#page/informacion/')
                    +navTemaItem('7', 'Presentación y estructura del estado de resultados', 'main.html#page/presentacion/')
                    +navTemaItem('8', 'Reconocimiento inicial de inversiones, cuentas por cobrar, propiedad, planta y equipo', 'main.html#page/reconocimiento/')
                    +navTemaItem('9', 'Ordenación y formato de las partidas del estado de información financiera', 'main.html#page/ordenacion/')
                    +navTemaItem('10', 'Principio de reconocimiento comercial para todos los beneficios a los empleados', 'main.html#page/principio/')
                    +navTemaItem('11', 'Medición y presentación de los ingresos', 'main.html#page/medicion/')
                    +navTemaItem('12', 'Estados de situación financiera de apertura', 'main.html#page/estados/')
                    +navTemaItem('13', 'Aplicación por primera vez de la norma de información financiera para microempresas', 'main.html#page/aplicacion/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')