

.container
    .header-ecored
        h1 1. Identificación de las NIIF para microempresas

    .card
        .card-body
            p Según el decreto 2706 de 2012 el reconocimiento es el proceso de incorporar en los estados financieros una partida que cumple con la definición de activo, pasivo, ingreso o gasto y que cumpla los siguientes criterios:
            br
            p a)	Es probable que cualquier beneficio económico futuro asociado con la partida entre o salga de la microempresa.
            br
            p b)	La partida tiene un costo o valor que puede ser medido con fiabilidad.
            br
            p La falta de reconocimiento en los estados financieros de una partida que satisface esos criterios, no se rectifica mediante la revelación de las políticas contables seguidas, ni tampoco a través de notas u otro material explicativo.
    #11
    .header-ecored
        h1 1.1 Reconocimiento de los estados financieros

    .card
        .card-body
            p Una microempresa reconocerá los activo, pasivo, ingreso y gasto en el estado de situación financiera cuando cumpla las siguientes condiciones: 

            #carouselExampleIndicators1.carousel.slide.mt-5(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators1', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators1', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators1', data-slide-to='3')
                    li(data-target='#carouselExampleIndicators1', data-slide-to='4')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='assets/images/pages/ilustraciones/reconocimiento_estados_financieros-01.png', alt='0')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/ilustraciones/reconocimiento_estados_financieros-02.png', alt='1')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/ilustraciones/reconocimiento_estados_financieros-03.png', alt='2')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/ilustraciones/reconocimiento_estados_financieros-04.png', alt='3')
                    .carousel-item
                        img.d-block.w-100(src='assets/images/pages/ilustraciones/reconocimiento_estados_financieros-05.png', alt='4')                          
                                                                                
                a.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next 
