
.container
    .header-ecored
        h1 11.	Medici贸n y presentaci贸n de los ingresos

    .card
        .card-body
            p Los ingresos a registrar corresponden a:
                    ul.mt-5
                        li.text-org 
                            p.text-black Venta de bienes.
                        li.text-org 
                            p.text-black.mt-4 Prestaci贸n de servicios.
                        li.text-org 
                            p.text-black.mt-4 Otros ingresos.
            h2.text-center.mt-5 Tabla 11. Requisitos para la Presentaci贸n de Ingresos
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img20.svg").img-fluid