
.container
    .header-ecored
        h1 11.	Medici贸n y presentaci贸n de los ingresos

    .card
        .card-body
            p Los ingresos a registrar corresponden a:
            br
            p a)	Venta de bienes
            br
            p b)	Prestaci贸n de servicios
            br
            p c)	Otros ingresos
            h2.text-center.mt-5 Tabla 11. Requisitos para la Presentaci贸n de Ingresos
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img20.png").img-fluid