include ../mixins/functions

+pageHeader('Interpretación de los resultados de la información financiera NIIF para microempresas', 'assets/images/header/header_media.svg')
.container
    .header-ecored
        h1 11.	Medición y presentación de los ingresos

    .card
        .card-body
            p Los ingresos a registrar corresponden a:
            br
            p a)	Venta de bienes
            br
            p b)	Prestación de servicios
            br
            p c)	Otros ingresos
            h2.text-center.mt-5 Tabla 11. Requisitos para la Presentación de Ingresos
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img20.png").img-fluid