
.container
    .header-ecored
        h1 12.	Estados de situación financiera de apertura

    .card
        .card-body
            p Todo ente económico en etapa de formalización debe elaborar un estado de situación financiera de apertura que permita conocer de manera clara y completa su situación financiera, este debe elaborarse de acuerdo con los procedimientos para preparar los estados financieros en la fecha de transición.
            br
            p Se entiende que los activos y pasivos que deben incorporarse en el estado de situación financiera de apertura, serán los que se relacionen de manera directa con la actividad de la microempresa.
