include ../mixins/functions

+pageHeader('Interpretación de los resultados de la información financiera NIIF para microempresas', 'assets/images/header/header_media.svg')
.container
    .header-ecored
        h1 2. La probabilidad de obtener beneficios económicos futuros

    .card
        .card-body
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    p Este concepto se utiliza en el primer criterio de reconocimiento, con referencia al grado de incertidumbre con que los beneficios económicos futuros asociados al mismo llegarán, o saldrán, de la microempresa. La evaluación del grado de incertidumbre correspondiente al flujo de los beneficios futuros se realiza sobre la base de la evidencia relacionada con las condiciones al final del periodo sobre el que se informa que esté disponible cuando se preparan los estados financieros. Esas evaluaciones se realizan individualmente significativas, y para un grupo y gran número de elementos individualmente insignificantes.   
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img1.svg").img-fluid
            