include ../mixins/functions

+pageHeader('Interpretación de los resultados de la información financiera NIIF para microempresas', 'assets/images/header/header_media.svg')
.container
    .header-ecored
        h1 3.	Fiabilidad de la medición

    .card
        .card-body
            p El segundo criterio para el reconocimiento de una partida es que tenga un costo o un valor que pueda medirse de forma fiable. En muchos casos, el costo o valor de una partida es conocido. En otros casos debe estimarse. La utilización de estimaciones razonables es una parte esencial de la elaboración de los estados financieros y no menoscaba su fiabilidad. Cuando no puede hacerse una estimación razonable, la partida no se reconoce en los estados financieros.
            br
            p Una partida que no cumple los criterios para su reconocimiento puede cumplir las condiciones para su reconocimiento en una fecha posterior como resultado de circunstancias o de sucesos posteriores. Tambien, puede ser revelada a través de notas, material informativo o cuadros complementarios. Esto es apropiado cuando el conocimiento de tal partida se considere relevante por los usuarios de los estados financieros para la evaluación de la situación financiera, el rendimiento y los cambios en la situación financiera de una microempresa.
    #31
    .header-ecored
        h1 3.1 Medición de activos, pasivos, ingresos y gastos

    .card
        .card-body
            p La medición es el proceso de determinar cuantías o valores en los que una microempresa mide los activos, pasivos, ingresos y gastos en sus estados financieros. La selección determina una base de medición. Y la base de medición para microempresas corresponde al Costo Histórico que está representado por el valor pagado más todos los costos y gastos directamente incurridos para disponer un activo en condiciones de uso o venta.
            h2.mt-5.text-center Criterios de Base de Medición    
            img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid        