
.container
    .header-ecored
        h1 4.	Definición entre partidas corrientes y no corrientes

    .card
        .card-body
            .row.justify-content-center.align-items-center
                .col-12.col-md-4
                    img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid
                .col-12.col-md-8
                    img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid

            .sub-line
                h2.mt-5 Una microempresa revelará los activos y pasivos clasificados en corrientes y no corrientes según las siguientes condiciones:

            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img5.png").img-fluid                            


                    


