
.container
    .header-ecored
        h1 5.	Ordenación y formato de las partidas del estado de información financiera

    .card
        .card-body
            p Según el decreto 2706 de 2012 las partidas que conforman el estado de situación financiera se presentan tomando como base:
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    p.mt-5 a)	su liquidez, en el caso de los activos
                    br
                    p b)	su exigibilidad, en el caso de los pasivos
                    br
                    p Se incluirán otras partidas cuando el tamaño, naturaleza o función de la partida o grupo de partidas similares sea relevante y necesario hacer su presentación, para  comprender la situación financiera de la microempresa.
                    br
                    p Las denominaciones utilizadas y la ordenación de las partidas o agrupaciones de partidas similares podrán modificarse de acuerdo con la naturaleza de la microempresa y de sus transacciones, para suministrar información que sea relevante para la comprensión de la situación financiera de la microempresa.

                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid

            .row.justify-content-center.align-items-center.mt-5
                .col-8.border-radius-color-orange.py-5
                    .row.justify-content-center.align-items-center
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/search.png").img-fluid
                        .col-8
                            h3 Ver tablas 4. Modelo de Estado de Situación Financiera para Microempresa
                            a.mt-4(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=4909299&query=Normas+internacionales+de+información+financiera+NIIF" target="_blank") https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=4909299&query=Normas+internacionales+de+información+financiera+NIIF

                            h3.mt-4.text-right cap. 5 pag. 203 y 205

            img.img-a(src="assets/images/pages/ilustraciones/indi.png").img-fluid
            .row.justify-content-center.align-items-center.mt-5
                .col-6.border-radius-color-orange.py-5.px-5
                    h3 Base de datos del sistema de bibliotecas SENA
                    p.mt-3 Recuerda ingresar con tu no. de identificación en usuario y contraseña 
                        