
.container
    .header-ecored
        h1 6.	Información a revelar en el estado de situación financiera y notas

    .card
        .card-body

            p Una microempresa revelará como mínimo en el estado de situación financiera o en las notas las siguientes partidas:
            ul.mt-5

                li.text-org
                    p.text-black.mt-4  Efectivo y equivalentes al efectivo.
            
                li.text-org
                    p.text-black.mt-4  Inversiones.
            
                li.text-org
                    p.text-black.mt-4  Deudores comerciales y otras cuentas por cobrar que muestren por separado los montos por cobrar de terceros y cuentas por cobrar procedentes de ingresos causados (o devengados) pendientes de cobro.
            
                li.text-org
                    p.text-black.mt-4  Cuando no se tenga la certeza de poder cobrar una deuda comercial, deberá establecerse una cuenta que muestre el deterioro (provisión) de las cuentas por cobrar.
            
                li.text-org
                    p.text-black.mt-4  Inventario que muestren por separado las cuantías:
                    ul.mt-3 
                        li
                            p.text-black Que se mantienen para la venta en el curso normal de las operaciones. 
                        
                        li
                            p.text-black.mt-3 En forma de materiales o suministros, para ser consumidos en el proceso de producción o en la prestación de servicios.
            
                li.text-org
                    p.text-black.mt-4  Propiedades, planta y equipo que muestren el valor de la depreciación acumulada.
            
                li.text-org
                    p.text-black.mt-4  Acreedores comerciales y otras cuentas por pagar, que muestren por separado otros montos por pagar a proveedores, ingresos diferidos y gastos acumulados por pagar.
            
                li.text-org
                    p.text-black.mt-4  Obligaciones financieras.
            
                li.text-org
                    p.text-black.mt-4  Obligaciones laborales.
            
                li.text-org
                    p.text-black.mt-4  Pasivo por impuestos.
            
                li.text-org
                    p.text-black.mt-4  Provisiones: corresponden al reconocimiento de las estimaciones de obligaciones presentes, surgidas de eventos pasados, sobre las cuales se desconoce con certeza su fecha de liquidación, o pago o monto.
            
                li.text-org
                    p.text-black.mt-4  Patrimonio que comprende partidas tales como capital pagado, ganancias acumuladas y utilidad o ´pérdida del ejercicio.         