include ../mixins/functions

+pageHeader('Interpretación de los resultados de la información financiera NIIF para microempresas', 'assets/images/header/header_media.svg')
.container
    .header-ecored
        h1 6.	Información a revelar en el estado de situación financiera y notas

    .card
        .card-body
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    p.text-center Una microempresa revelará como mínimo en el Estado de Situación Financiera o en las notas las siguientes partidas:
            p.mt-5 a) Efectivo y equivalentes al efectivo
            br
            p b) Inversiones
            br
            p c) Deudores comerciales y otras cuentas por cobrar que muestren por separado los montos por cobrar de terceros y cuentas por cobrar procedentes de ingresos causados (o devengados) pendientes de cobro.
            br
            p d) Cuando no se tenga la certeza de poder cobrar una deuda comercial, deberá establecerse una cuenta que muestre el deterioro (provisión) de las cuentas por cobrar.
            br
            p e) Inventario que muestren por separado las cuantías: i) que se mantienen para la venta en el curso normal de las operaciones. ii) en forma de materiales o suministros, para ser consumidos en el proceso de producción o en la prestación de servicios.
            br
            p f) Propiedades, planta y equipo que muestren el valor de la depreciación acumulada
            br
            p g) Acreedores comerciales y otras cuentas por pagar, que muestren por separado otros montos por pagar a proveedores, ingresos diferidos y gastos acumulados por pagar.
            br
            p h) Obligaciones financieras
            br
            p i) Obligaciones laborales
            br
            p j) Pasivo por impuestos
            br
            p k) Provisiones: corresponden al reconocimiento de las estimaciones de obligaciones presentes, surgidas de eventos pasados, sobre las cuales se desconoce con certeza su fecha de liquidación, o pago o monto.
            br
            p l) Patrimonio que comprende partidas tales como capital pagado, ganancias acumuladas y utilidad o ´pérdida del ejercicio.         