
.container
    .header-ecored
        h1 7.	Presentación y estructura del estado de resultados

    .card
        .card-body
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img7.png").img-fluid  
                .col-12.col-md-6
                    p A continuación se presentan las partidas y cada uno de los requisitos de reconocimiento, medición, información a revelar y presentación en los estados financieros.
                    br
                    p Una microempresa presentará el estado de resultados de sus operaciones, en un periodo determinado, en el estado de resultados, el cual incluirá todas las partidas de ingresos y gastos reconocidas en el periodo.
    #71
    .header-ecored
        h1 7.1 Estructura del estado de resultados

    .card
        .card-body

            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    p La utilidad bruta refleja la diferencia entre las ventas netas y los costos de ventas. De la utilidad bruta se deducen todos los gastos incurridos, se suman los otros ingresos causados y se resta la provisión para impuesto sobre la renta para establecer el resultado del período.
                    br
                    p El impuesto sobre la renta que figura en el estado de resultados corresponde a la mejor estimación del gasto por éste concepto a la fecha de cierre.
                    br
                    p Toda pérdida o ganancia que sea importante debe revelarse por separado en el estado de resultados, atendiendo los criterios establecidos de materialidad o importancia relativa.                         
                .col-12.col-md-6
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img8.png").img-fluid  

            .row.justify-content-center.align-items-center.mt-5
                .col-8.border-radius-color-orange.py-5
                    .row.justify-content-center.align-items-center
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/search.png").img-fluid
                        .col-8
                            h3.text-right Estado de resultados
                            a.text-right.mt-4(href="http://www.unilibre.edu.co/bogota/pdfs/2017/NIF-MICROEMPRESAS.pdf" target="_blank") http://www.unilibre.edu.co/bogota/pdfs/2017/NIF-MICROEMPRESAS.pdf

                            h3.mt-4.text-right cap. 5 pag. 203 y 205                    
                    