.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material
                    th.text-center Enlace del Recurso

            tbody
                tr
                    td
                        strong Guía de implementación relevante emitida por IASB de las NIIF
                    td Documento
                    td 
                        a(href="https://www.nicniif.org/files/u1/Manual_del_procedimiento.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr                    

                    td
                        strong Decreto 2706 de 2012
                    td Documento
                    td 
                        a(href="https://niif.com.co/decreto-2706-2012/marco-tecnico-nif-grupo-3", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td
                        strong Directrices para la contabilidad e información financiera de las pequeñas y mediana empresas, orientación nivel 3
                    td Documento
                    td 
                        a(href="https://unctad.org/es/Docs/diaeed20092_sp.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td
                        strong NIIF para Microempresas – NIIF para Microempresas con ejercicios de aplicación
                    td Documento
                    td 
                        a(href="http://www.unilibre.edu.co/bogota/pdfs/2017/NIF-MICROEMPRESAS.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                                            
